In [12]:
import pandas as pd
import csv

In [18]:
# Make a reference to the election_data.csv file path
csv_path = "data_materials/Invoices-2018/328-MEIC-Table-1.csv"

# Set the name and path for file to output
#file_to_output = "328-MEIC-Table.txt"

In [23]:
df = pd.read_csv(csv_path, index_col=False, header=0);
serie = df.transpose() # here we convert the DataFrame into a Serie

IndexError: list index out of range

In [5]:
# Import the election_data.csv file as a DataFrame
#invoices_df = pd.read_csv(csv_path, encoding="utf-8")
#invoices_df

                                                                                                            Table 1
NaN NaN                                                NaN NaN       INVOICE                                    NaN
                                                                     NaN                                        NaN
    FTP MEDIA                                          NaN NaN       NaN                                        NaN
    23 Florida Crescent                                NaN NaN       NaN                                        NaN
    Toronto, ON M9M 1P4                                NaN NaN       NaN                                        NaN
    Mobile: 416-702-4387                               NaN CLIENT:   MEIC                                       NaN
    www.ftpmedia.com                                   NaN CONTACT:  Kathleen Webb                              NaN
    NaN                                                NaN PROJECT:  MEIC MAP 2013 Videos                       NaN
                                                           DATE:     31-Jan-13                                  NaN
                                                           INVOICE:  328                                        NaN
                                                           NaN       NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
    SERVICE: Producer-Mentor students through produ... NaN NaN       NaN                                        NaN
    NaN                                                NaN NaN       NaN                                        NaN
    ELEMENT                                            NaN  QUANTITY RATE                                      COST
    NaN                                                NaN NaN       NaN                                        NaN
    Producer-Mentor                                    NaN 1         (flat)                             $\t2,500.00
    See Esitmate #238 for details                      NaN NaN       NaN                                        NaN
    NaN                                                NaN NaN       NaN                                        NaN
    Paid in 3 x installments - this invoice is inst... NaN NaN       NaN                                        NaN
    NaN                                                NaN NaN       NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     FIRST INSTALLMENT (1/3 of total):      $750.00
                                                                     HST:                                    $97.50
    HST#: 88318 6702 RT0001                            NaN NaN       TOTAL:                                 $847.50
    NaN                                                NaN NaN       NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
                                                                     NaN                                        NaN
    FTP MEDIA                                          NaN NaN       NaN                                        NaN
    Specializing in new media and video content dev... NaN NaN       NaN                                        NaN
    Working from concept to completion to share you... NaN NaN       NaN                                        NaN
    NaN                                                NaN NaN       NaN                                        NaN
    Please pay upon receipt with a cheque payable t... NaN NaN       NaN                                        NaN

In [7]:
# drop null rows
no_null_df = invoices_df.dropna(how='any')
no_null_df

                                                                                 Table 1
NaN ELEMENT                 NaN  QUANTITY RATE                                      COST
    Producer-Mentor         NaN 1         (flat)                             $\t2,500.00
    NaN                     NaN NaN       FIRST INSTALLMENT (1/3 of total):      $750.00
                                          HST:                                    $97.50
    HST#: 88318 6702 RT0001 NaN NaN       TOTAL:                                 $847.50